.container {  display: grid;
  grid-template-columns: 1.4fr 1.5fr;
  grid-template-rows: 1.5fr 1.5fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "datos imagenlambo"
    "datos imagenlambo";
}

.datos { 
  grid-area: datos; 
  color: aliceblue;
}

.imagenlambo { 
  grid-area: imagenlambo; 
  color: white;
}


header { 
  background-color: rgb(117, 27, 38); 
}

body {
  background-color: black;
}
.footer { 
  grid-area: footer; 
  background-color: black;
}

.logo { 
  color: white;
  height: 40px;

}
.body {
  background-color: black;
}

.nuevomodelo {
  color: aliceblue;
}


.masautos {
  color: aliceblue;
}


.detallesdeautos {
  color: aliceblue;
}

.footer {
  color: white;
}
